

 <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">TOILETZ</h1><br>
      <p class="w3-large w3-text-grey w3-hide-medium"> Did you know that if you bring your regular, full-sized tube of toothpaste in your carry on, it will most likely end up confiscated? And that also applies to shampoo, conditioner, body was bottles and pretty much all other liquids and gels. 
      </p>
      <p class="w3-large w3-text-grey w3-hide-medium">If that is news to you, you have a lot to learn. And you are in luck that you found this website because we know everything about packing a  <span class="w3-tag w3-light-grey">TOILETZ</span>  approved toiletry bag, and we're dying to share it with you!
      </p>    
     
      <p class="w3-large w3-text-grey w3-hide-medium"> <span class="w3-tag w3-light-grey">Bath Soap</span></p>   
      <p class="w3-large w3-text-grey w3-hide-medium"> <span class="w3-tag w3-light-grey">Shampoo</span></p>   
      <p class="w3-large w3-text-grey w3-hide-medium"> <span class="w3-tag w3-light-grey">Toothpaste & Brush</span></p>   
      <p class="w3-large w3-text-grey w3-hide-medium"> <span class="w3-tag w3-light-grey">Hand Sanitizer</span></p>   
      <p class="w3-large w3-text-grey w3-hide-medium"> <span class="w3-tag w3-light-grey">Dry Tissues</span></p>   
           
    </div>

    

    <div class="w3-col l6 w3-padding-large">
      <img src="/assets/Images/image02.jpeg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <iframe width="800" height="500" src="/assets/Images/video1.mp4" frameborder="0" allowfullscreen style="position: relative;right: -16%;"></iframe>



  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">COVID SAFTEY KIT</h1><br>
      <p class="w3-large w3-text-grey w3-hide-medium"> 
        Personal Protective Equipment(PPE) kit includes
      </p>
        <p class="w3-large w3-text-grey w3-hide-medium">  <span class="w3-tag w3-light-grey">Masks</span></p>    
        <p class="w3-large w3-text-grey w3-hide-medium">  <span class="w3-tag w3-light-grey">gloves</span></p> 
        <p class="w3-large w3-text-grey w3-hide-medium">  <span class="w3-tag w3-light-grey">sanitizer</span></p> 
        <p class="w3-large w3-text-grey w3-hide-medium">  <span class="w3-tag w3-light-grey">wet wipes</span></p> </div>
    <div class="w3-col l6 w3-padding-large">
     <img src="/assets/Images/image06.jpeg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
   </div>

   <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">HYGEINE KIT</h1><br>
      <p class="w3-large w3-text-grey w3-hide-medium">       
      <span class="w3-tag w3-light-grey">Hygeine Toliet Kit</span> includes 
       Gloves,
       Mask,
       Paper towel,
       Toilet bomb,
       Seat cover,
       Soap paper,
       Sanitizer,
       Dry tissue.
      <p class="w3-large w3-text-grey w3-hide-medium"><span class="w3-tag w3-light-grey">Procedure</span>: Person wears mask gloves and cleans toilet seat 🚽 sides if its wet with paper towel then drops toilet ball, then places seat cover after job flushes nd seat cover goes with water, the cleans with soap paper then uses tissue then sanitizer.  </div>
    
    <div class="w3-col l6 w3-padding-large">
     <img src="/assets/Images/image07.jpeg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
   </div>




   <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">SIXTH FINGER</h1><br>
      <p class="w3-large w3-text-grey w3-hide-medium">Hands stay clean longer in public life.
        Washing hands or using disinfectant less often protects the skin and saves money.
        The hands do not soften, as is the case when wearing gloves. When the 6th finger is used, all unclean contact surfaces vanish inside
      This finger is light, robust and fits in every pocket, and can be cleaned in the dishwasher.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Use it for door handles or grab bars, e.g. in buses, trains, subways, stations, cafes, public buildings, restrooms, others. Use it for switches in buses, trains, subways, stations, elevators, switches for light or at ATMs, toilets or water-taps. Pull control-ropes in underground parking.</p>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
     <img src="/assets/Images/image03.jpeg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
   </div>
